:root {
  --dark: #150f00;
  --highlight: #9D98FF;
  --light: #fffcef;
  --mid: rgb(252, 220, 62);
}

body {
  margin: 0;
  font-size: 1.5rem;
  color: var(--dark);
}

div {
  box-sizing: border-box;
}

svg {
  vertical-align: middle;
}

.box {
  mask: 
    radial-gradient(56.6px at 78px 50%,#000 99%,#0000 101%) 0 calc(50% - 60px)/51% 120px repeat-y,
    radial-gradient(56.6px at -48px 50%,#0000 99%,#000 101%) 30px 50%/calc(51% - 30px) 120px repeat-y,
    radial-gradient(56.6px at calc(100% - 78px) 50%,#000 99%,#0000 101%) 100% 50%/51% 120px repeat-y,
    radial-gradient(56.6px at calc(100% + 48px) 50%,#0000 99%,#000 101%) calc(100% - 30px) calc(50% - 60px)/calc(51% - 30px) 120px repeat-y;
}

.canvas {
  display: grid;
  grid-template-rows: auto auto 1fr;
  box-sizing: border-box;
  padding: 30px;
  background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(255, 204, 204, 1) 100%);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.container {
  display: grid;
  /* border-top: 2px solid var(--dark); */
  /* border-left: 2px solid var(--dark); */
  /* border-right: 2px solid var(--dark); */
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--light);
}

.table {
  flex: 1;
  min-height: 0;
  grid-template-columns: 1fr 3fr;
  border-right: none;
}

.column {
  display: grid;
  align-content: start;
  border-right: 2px solid var(--dark);
  /* border-bottom: 2px solid var(--dark); */
  overflow-y: scroll;
  scrollbar-width: none;
}

.bio {
  padding: 5px; 
  font-size: 3rem;
  background-color: var(--light);
  border-left: 2px dashed var(--dark);
  border-right: 2px dashed var(--dark);
}

.cell {
  padding: 7px;
  /* border: 2px solid transparent; */
  /* padding-inline: 2px; */
  border-bottom: 2px solid var(--dark);
}

.noborder {
  border: none;
}

.header {
  padding: 7px;
  background-color: var(--mid);
  border-bottom: 2px solid var(--dark);
}

.cell:hover {
  box-sizing: border-box;
  background-color: var(--highlight);
  cursor: pointer;
  /* transform: translate(-3px, -3px);
  box-shadow: 3px 3px; */
  /* border: 2px solid black; */
}

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
      "wdth" 100;
}

.eb-garamond {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.atkinson-hyperlegible-regular {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.atkinson-hyperlegible-bold {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.atkinson-hyperlegible-regular-italic {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.atkinson-hyperlegible-bold-italic {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.dm-mono-light {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.dm-mono-regular {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.dm-mono-medium {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.dm-mono-light-italic {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: italic;
}

.dm-mono-regular-italic {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.dm-mono-medium-italic {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: italic;
}