:root {
  --dark: #150f00;
  --highlight: #9D98FF;
  --selected: #756eff;
  --light: #fffcef;
  --yellow: #FFD23F;
  --dark-yellow: #bf9300;
  --brown: #2f2100;
  --green: #007000;
  --cyan: #4ef8fb;
  --magenta: #cf16cf;
  /* #FFD198
  #C7FF98 */
  --border-width: 3px;
  --border: var(--border-width) solid var(--dark);
}

body {
  margin: 0;
  font-size: min(4vw, 1.5rem);
  color: var(--dark);
  background-color: #9D98FF;
  /* background: linear-gradient(90deg, rgb(42, 123, 155) 0%, rgb(255, 204, 204) 100%); */
  background-image: radial-gradient(circle at 20px 20px, var(--selected) 2px, transparent 0);
  background-size: 40px 40px;
  background-attachment: fixed;
}

div {
  /* box-sizing: border-box; */
}

svg {
  vertical-align: middle;
}

.canvas {
  /* display: grid; */
  /* grid-template-rows: auto auto 1fr; */
  box-sizing: border-box;
  padding: 1.5em;
  /* height: 100vh; */
  width: 100vw;
  /* overflow: hidden; */
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  /* display: grid; */
  margin-bottom: 20px;
  border-top: var(--border);
  border-left: var(--border);
  border-right: var(--border);
  background-color: var(--light);
  box-shadow: 5px 5px var(--brown);
}

/* TITLE */

.title {
  background-color: var(--yellow);
  border-bottom: var(--border);
  padding: 0.4em;
  font-size: min(6vw, 2rem);
  color: var(--dark-yellow);
}

.scroll-container {
  white-space: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
  /* mask-image: linear-gradient(to right, black 70%, transparent 100%);
  -webkit-mask-image: linear-gradient(to right, black 70%, transparent 100%); */
}

.title a:first-child {
  color: var(--dark);
}

.title a {
  text-decoration: inherit;
  color: inherit;
  transition: color 0.3s ease;
}

.title a:hover {
  color: var(--dark);
  transition: color 0s;
}

.title:has(a:hover) a:first-child:not(:hover) {
  color: var(--dark-yellow);
}

/* BIO */

.bio {
  padding: 7px;
  margin-bottom: 20px;
  font-size: min(8vw, 3rem);
  background-color: var(--brown);
  color: var(--light);
  /* border-left: 3px dashed var(--dark);
  border-right: 3px dashed var(--dark); */
  border: var(--border);
  /* box-shadow: 5px 5px var(--dark); */
}

.bio span {
  color: var(--highlight);
  background: radial-gradient(
    var(--highlight) 0%,
    var(--magenta) 30%,
    var(--cyan) 80%
   /* var(--highlight) 90% */
  /* var(--highlight) 34%, */
  /* var(--highlight) 100% */
  );
  background-size: 100% 800%;
  background-position: 0% 0%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: background-size 0.4s ease;
  /* transition: background-position 0.4s ease; */
}

.bio span:hover {
  background-size: 100% 150%;
  /* background-position: 100% 200%; */
}

span.alt {
  background: linear-gradient(to top, #4ef8fb, #cf16cf);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

span.alt2 {
  background: linear-gradient(to top, #cf16cf, rgb(237, 88, 14));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* TABLE */

.table {
  /* flex: 1; */
  /* min-height: 0; */
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.row {
  /* display: contents; */
  /* background-color: black; */
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  transition: background-color 0.3s ease;
  border-bottom: var(--border);
}

.accordion {
  cursor: pointer;
  /* transition: 0.4s; */
}

.panel {
  box-sizing: border-box;
  grid-column: 1 / -1;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;
  grid-template-columns: none;
  border-bottom: var(--border);
  margin-top: calc(-1 * var(--border-width));
  contain: inline-size;
}

.panel-inner {
  padding: 1em;
  padding-top: calc(1em + 1 * var(--border-width));
  border-bottom: var(--border);
}

.panel img {
  /* width: 100%; */
  display: block; 
  object-fit: contain;
  /* box-sizing: border-box; */
  max-height: 40vw;
  /* margin-bottom: 1em; */
  margin-left: auto;
  margin-right: auto;
  border: var(--border);
}

.cell {
  padding: 0.5em;
  /* border: 3px solid transparent; */
  /* padding-inline: 3px; */
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.noborder {
  border: none;
}

.header {
  padding: 0.5em;
  background-color: var(--yellow);
}

.row:hover:not(.selected, .header) {
  background-color: var(--highlight);
  /* cursor: pointer; */
  transition: background-color 0s;

  /* transform: translate(-10px); */
  /* box-shadow: 3px 3px; */
  /* border: 3px solid black; */
}


@media (max-width: 600px) {
  .row .cell:nth-child(2) {
    display: none;
  }
  .row .header:nth-child(2) {
    display: none;
  }
  
  .table {
    grid-template-columns: auto auto;
  }
  :root {
    --border-width: 2px;
    --border: var(--border-width) solid var(--dark);
  }
}


/* FONTS */

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
      "wdth" 100;
}

.eb-garamond {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.atkinson-hyperlegible-regular {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.atkinson-hyperlegible-bold {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.atkinson-hyperlegible-regular-italic {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.atkinson-hyperlegible-bold-italic {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.dm-mono-light {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.dm-mono-regular {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.dm-mono-medium {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.dm-mono-light-italic {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: italic;
}

.dm-mono-regular-italic {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.dm-mono-medium-italic {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: italic;
}


.bricolage-grotesque-regular {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.bricolage-grotesque-bold {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.m-plus-u {
  font-family: "M PLUS U", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}